.preview
    display: flex
    height: 15rem
    overflow: hidden
    position: relative
    margin-top: 1rem
    border-radius: 0.5rem
    align-items: end
    text-decoration: none
    img
        position: absolute
        top: 0
        z-index: -1
        object-fit: cover
        height: 125%
    h2
        font-size: 1.2rem
        font-weight: 500
        width: 70%
        color: white
        margin-left: 1rem
        